
.navLink{
    border: 1px solid black;
    padding: 5px;
    color: white;
    background-color: rgb(20, 220, 103);
    border-radius: 10px;
}
.logout{
    border: 1px solid black;
    padding: 5px;
    color: white;
    background-color: crimson;
    border-radius: 10px;
}
.box1{
    display: flex;
    justify-content: space-between;
}
body{
    padding: 30px;
}
.like{
    border: 1px solid black;
    padding: 5px;
    color: rgb(255, 255, 255);
    background-color: rgb(241, 103, 103);
    border-radius: 10px;
}
.quoteBox{
    border: 1px solid black;
    width: 80%;
    padding: 10px;
}